{% extends 'layout.html.twig' %}

{% block title %}Quiz n°1: Answer the following question | PHPQuiz{% endblock %}

{% block body %}
    <div class="header">
        <h1>About PHPQuiz</h1>
    </div>

    <div class="content">
        <h2>FredBouchery Twitter polls</h2>

        <p>I am following <a href="https://twitter.com/FredBouchery">Frédéric Bouchery</a>
        on Twitter since a while and after each quiz he posts:</p>

        <blockquote class="twitter-tweet"><p lang="en" dir="ltr"><a href="https://twitter.com/hashtag/PHP?src=hash&amp;ref_src=twsrc%5Etfw">#PHP</a> quiz: What will be displayed ?<br>Poll in thread ⏬ <a href="https://t.co/TxMH7nw7fa">pic.twitter.com/TxMH7nw7fa</a></p>&mdash; Frédéric Bouchery (@FredBouchery) <a href="https://twitter.com/FredBouchery/status/1286207296767438848?ref_src=twsrc%5Etfw">July 23, 2020</a></blockquote>

        <p>I am always wondering:</p>

        <blockquote class="content-quote">
            That would be so cool to have a dedicated webiste for these quiz!
        </blockquote>

        <p>
            We could create real quiz instead of "hacking" Twitter to use their
            polls as a quiz system. That's why we decided to build this website.
            You can contribute and add quiz by submitting a PR on the <a href="">
            public GitHub repository</a> of this project. If it meets the requirments
            (all "obvious" quiz will be rejected) we will consider adding it to
            the database.
        </p>

        <p>See you. COil & FredBouchery 😉</p>
    </div>
{% endblock %}


