{% extends 'layout.html.twig' %}

{% block title %}About the PHPQuiz website, more about us, support us, contribute.{% endblock %}

{% block links %}
    {{ parent() }}
    <link rel="preconnect" href="{{ preconnect('https://platform.twitter.com') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock %}

{% block body %}
    <div class="header">
        <h1>About PHPQuiz <i>béta</i></h1>
    </div>

    <div class="content">
        <h2>FredBouchery PHP quiz</h2>

        <p>I am following <a href="https://twitter.com/FredBouchery">Frédéric Bouchery</a>
        on Twitter since a while and after each quiz he posts:</p>

        <blockquote class="twitter-tweet"><p lang="en" dir="ltr"><a href="https://twitter.com/hashtag/PHP?src=hash&amp;ref_src=twsrc%5Etfw">#PHP</a> quiz: What will be displayed ?<br>Poll in thread ⏬ <a href="https://t.co/TxMH7nw7fa">pic.twitter.com/TxMH7nw7fa</a></p>&mdash; Frédéric Bouchery (@FredBouchery) <a href="https://twitter.com/FredBouchery/status/1286207296767438848?ref_src=twsrc%5Etfw">July 23, 2020</a></blockquote>

        <p>I am always wondering myself:</p>

        <blockquote class="content-quote">
            That would be so cool to have a dedicated website for these quiz! 😃
        </blockquote>

        <p>
            We could create real quiz instead of "hacking" Twitter to use their
            polls as a quiz system. That's why we decided to build this website.
            You can contribute and add quiz by submitting a PR on the <a href="https://github.com/strangebuzz/phpquiz">
            public GitHub repository</a> of this project. If it meets the requirments
            (all "obvious" quiz may be rejected) we will add it to the database.
        </p>

        <p>
            The website is still <i>béta</i> all data may be deleted at any-time.
        </p>

        <p>See you. COil & FredBouchery. 😉</p>
    </div>
{% endblock %}
