{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Correct answers stats' %}

{% block page_content %}
    <h4>{{ total }} questions</h4>
    <ul>
        {% for code, count in answer_codes %}
            <li><b>{{ code }}</b> : {{ count }} - {{ (count / total * 100) | round }}%</li>
        {% endfor %}
    </ul>
{% endblock %}
