{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Correct answers stats' %}

{% block page_content %}
    <h4>{{ data.sum }} questions</h4>
    <ul>
        {% for code, count in data.answerCodes %}
            <li><b>{{ code }}</b> : {{ count }} - {{ (count / data.sum * 100) | round }}%</li>
        {% endfor %}
    </ul>
{% endblock %}
