label {
    padding: 0.4rem;
}

label:hover {
    cursor: pointer;
    background: #cccccc;
}

.content-quote {
    color:#666;
    font-style:italic;
    line-height:1.8;
    border-left:5px solid #ddd;
    padding-left:1.5em
}

.center {
    text-align:center
}

.table-center {
    margin: 10px auto;
}

.size-60 {
    font-size: 0.6rem
}

.hidden {
    display: none;
}

progress {
    border: 0;
    height: 20px;
    width: 250px;
}
